<div class="container m-2 mx-auto">
 <div class="row">
  <h2><%= @date %>の記念日一覧</h2>
   <div class="m-2 ml-auto">
    <%= link_to "< 前の日", date_index_path(@yesterday) %> |
    <%= link_to "次の日 >", date_index_path(@tomorrow) %>
   </div>

  <%= render 'public/posts/table', posts: @posts %>
 </div>
</div>