<h1>記念日一覧</h1>
 <% @posts.each do |post| %>
   <%= link_to post_path(post.id) do %>
     <div class="title"><%= post.title %></div>
     <div class="body"><%= post.body %></div>
     <div class="date"><%= post.date %></div>
    <% end %>
 <% end %>