<% provide(:title, "#{@user.user_name}さん") %>

<h2 class="offset-1">ユーザ詳細</h2>
<div class="container m-2 mx-auto">
    <div class="row">

     <div class="col-md-3">
      <div class="border border-secondary rounded mb-2" style="background-color:#f4f4f4">
          <%= render 'admin/users/info', user: @user %>
        </div>
     </div>

     <div class="col-md-9">
       <h3>記念日</h3>
        <%= render 'admin/posts/table', posts: @posts %>
     </div>

    </div>
  </div>